@use "base" as *;
@use "utilities" as *;
@use "components" as *;

body {
  font-family: "Inter", sans-serif;
  background: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
}
